<!--==============================Content=================================-->
			<div class="content"><div class="ic">ishu</div>
				<div class="container_12">
					<div class="grid_8">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<img src="images/page1_img1.jpg" alt="">
									<div class="flex-caption">
										<p>Hope</p>
									</div>
								</li>
								<li>
									<img src="images/page1_img2.jpg" alt="">
									<div class="flex-caption c2">
										<p>Save</p>
									</div>
								</li>
								<li>
									<img src="images/page1_img3.jpg" alt="">
									<div class="flex-caption">
										<p>Help</p>
									</div>
								</li>
							</ul>
						</div>
						<span id="responsiveFlag"></span>
					</div>
					<div class="grid_4">
						<a href="#" class="donate">Donate</a>
						<div class="text1">We can change the life of those who have no hope</div>
						<p>My name is ISWARYA,please save the life of people by donting blood.</p>
						The people who are intrested in donating blood can donate blood in NEOWOMB HEALTH CARE which is present in tirupati.
						Neowomb Health Care Center,The people who are intrested in donating blood can donate blood in NEOWOMB HEALTH CARE which is present in tirupati.
						Neowomb Health Care Center,The people who are intrested in donating blood can donate blood in NEOWOMB HEALTH CARE which is present in tirupati.
						
					</div>
					<div class="clear"></div>
					<div class="grid_3">
						<div class="block2 maxheight">
							<div class="title">our Mission</div>
							<div class="pad">
								Neowomb Health Care Center,The people who are intrested in donating blood can donate blood in NEOWOMB HEALTH CARE which is present in tirupati.<div class="alright"><a href="#" class="btn">Read More</a></div>
							</div>
						</div>
					</div>
					<div class="grid_3">
						<div class="block2 maxheight">
							<div class="title">Latest Projects</div>
							<div class="pad">
								Neowomb Health Care Center,The people who are intrested in donating blood can donate blood in NEOWOMB HEALTH CARE which is present in tirupati.<div class="alright"><a href="#" class="btn">Read More</a></div>
							</div>
						</div>
					</div>
					<div class="grid_3">
						<div class="block2 maxheight">
							<div class="title">publications</div>
							<div class="pad">
								Neowomb Health Care Center,The people who are intrested in donating blood can donate blood in NEOWOMB HEALTH CARE which is present in tirupati <div class="alright"><a href="#" class="btn">Read More</a></div>
							</div>
						</div>
					</div>
					<div class="grid_3">
						<div class="block2 maxheight">
							<div class="title">Participate</div>
							<div class="pad">Neowomb Health Care Center,The people who are intrested in donating blood can donate blood in NEOWOMB HEALTH CARE which is present in tirupati.<div class="alright"><a href="#" class="btn">Read More</a></div></div>
						</div>
					</div>
					<div class="clear"></div>
					<div class="grid_12">
						<h2>You can help Them</h2>
						<div id="owl">
							<div class="item">
								<a href="#"><img src="images/page1_img4.jpg" alt="">Jim <br>
								8 years</a>
							</div>
							<div class="item it1">
								<a href="#"><img src="images/page1_img5.jpg" alt="">Ann <br>
								3 years</a>
							</div>
							<div class="item it2">
								<a href="#"><img src="images/page1_img6.jpg" alt="">Linda <br>
								5 years</a>
							</div>
							<div class="item it3">
								<a href="#"><img src="images/page1_img7.jpg" alt="">Mark  <br>
								6 years</a>
							</div>
							<div class="item">
								<a href="#"><img src="images/page1_img4.jpg" alt="">Jim <br>
								8 years</a>
							</div>
							<div class="item it1">
								<a href="#"><img src="images/page1_img5.jpg" alt="">Ann <br>
								3 years</a>
							</div>
							<div class="item it2">
								<a href="#"><img src="images/page1_img6.jpg" alt="">Linda <br>
								5 years</a>
							</div>
							<div class="item it3">
								<a href="#"><img src="images/page1_img7.jpg" alt="">Mark  <br>
								6 years</a>
							</div>
						</div>
					</div>
					<div class="grid_4">
						<h3 class="nowrap mb0">Successful stories</h3>
						<time class="st1" datetime="2013-01-01">29.11.2013</time>
						Neowomb Health Care Center,The people who are intrested in donating blood can donate blood in NEOWOMB HEALTH CARE which is present in tirupati.
						<div class="alright"><a href="#" class="btn">Read More</a></div>
					</div>
					<div class="grid_7 prefix_1">
						<h3>About Us</h3>
						<img src="images/page1_img8.jpg" alt="" class="img_inner fleft">
						<div class="extra_wrapper">
							<p>Neowomb Health Care Center,The people who are intrested in donating blood can donate blood in NEOWOMB HEALTH CARE which is present in tirupati <span class="col1"><a href=" http://neowobb.herokuapp.com" rel="dofollow">here</a></span>.</p>
							Visit the category of <span class="col1"><a href="http://neowobb.herokuapp.com" rel="nofollow ">Neowob Organisation</a></span> Neowob.
						</div>
						<div class="clear"></div>
						<div class="alright"><a href="#" class="btn">Read More</a></div>
					</div>
				</div>
			</div>